<div class="add-container">
  
  <div class="form-container">

    <form #bookForm='ngForm' (ngSubmit)="updateBook(bookForm)">
    <mat-form-field class="form-input" appearance="legacy">
      <mat-label>Title</mat-label>
      <input 
        name="bookTitle"
        [(ngModel)]="bookToUpdate.Title"
        #bookName="ngModel"
        matInput 
        required
        placeholder="">
    </mat-form-field>

    <mat-form-field class="form-input" appearance="legacy">
      <mat-label>Author</mat-label>
      <input 
        name="bookAuthor"
        [(ngModel)]="bookToUpdate.Author"
        #bookAuthor="ngModel"
        required
        matInput 
        placeholder="">
    </mat-form-field>

    <mat-form-field class="form-input" appearance="legacy">
      <mat-label>Cover Url</mat-label>
      <input 
        name="bookCover"
        [(ngModel)]="bookToUpdate.Cover"
        #bookCover="ngModel"
        required
        (focusout)="preview(bookCover)"
        matInput 
        placeholder="">
    </mat-form-field>

    <mat-form-field class="form-input" appearance="legacy">
      <mat-label>Price</mat-label>
      <input 
        name="bookPrice"
        [(ngModel)]="bookToUpdate.Price"
        #bookPrice="ngModel"
        required
        matInput 
        placeholder="">
    </mat-form-field>

    <button type="submit" class="btn-save" mat-button color="primary">Save</button>

    <button (click)="deleteBook()" class="btn-delete" mat-button color="primary">Delete</button>
    </form>


  </div>

  <div class="cover-container">
    <img class="cover-preview" [src]="coverPreview">  
  </div>
</div> 
