<!-- video 02:14 -->

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
        <span class="gradient skew"><h1 class="logo un-skew">Livraria</h1></span>
      </div>
      <div class="nav right">
        <a routerLink="/home" class="nav-link"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
        <a routerLink="/add" class="nav-link"><span class="nav-link-span"><span class="u-nav">Adicionar</span></span></a>
        <a routerLink="" class="nav-link"><span class="nav-link-span"><span class="u-nav">Sobre</span></span></a>
      </div>
    </nav>
  </header>
  <main id="main">
    <section id="home">
        <router-outlet></router-outlet>
    </section>
  </main>

  <script>
    var util = {
  mobileMenu() {
    $("#nav").toggleClass("nav-visible");
  },
  windowResize() {
    if ($(window).width() > 800) {
      $("#nav").removeClass("nav-visible");
    }
  },
  scrollEvent() {
    var scrollPosition = $(document).scrollTop();
    
    $.each(util.scrollMenuIds, function(i) {
      var link = util.scrollMenuIds[i],
          container = $(link).attr("href"),
          containerOffset = $(container).offset().top,
          containerHeight = $(container).outerHeight(),
          containerBottom = containerOffset + containerHeight;

      if (scrollPosition < containerBottom - 20 && scrollPosition >= containerOffset - 20) {
        $(link).addClass("active");
      } else {
        $(link).removeClass("active");
      }
    });
  }
};

$(document).ready(function() {
  
  util.scrollMenuIds = $("a.nav-link[href]");
  $("#menu").click(util.mobileMenu);
  $(window).resize(util.windowResize);
  $(document).scroll(util.scrollEvent);
  
});

  </script>

</body>

</html>



