/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #ec0101e6;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgb(242 8 8 / 70%);
}

.snack-bar{
    color: hotpink;
    background-color: #161A30 !important;
}

